In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("LoansTrainingSet.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_10300\494856618.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("LoansTrainingSet.csv")

In [3]:
# !pip install pandas_profiling

In [4]:
# !pip install markupsafe==2.0.1

In [5]:
# import pandas_profiling

In [6]:
# df.profile_report()

In [7]:
df.rename(columns = {'Credit Score':'Credit_Score', 'Current Loan Amount':'Current_Loan_Amount', 'Annual Income':'Annual_Income', 'Years of Credit History': 'Years_of_Credit_History', 'Monthly Debt': 'Monthly_Debt', 'Number of Open Accounts': 'Number_of_Open_Accounts', 'Number of Credit Problems': 'Number_of_Credit_Problems', 'Current Credit Balance': 'Current_Credit_Balance', 'Maximum Open Credit': 'Maximum_Open_Credit', 'Home Ownership': 'Home_Ownership', 'Tax Liens': 'Tax_Liens', 'Years in current job': 'Years_in_current_job', 'Loan Status': 'Loan_Status'}, inplace = True)

In [8]:
df.shape

(256984, 19)

In [9]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan_Status                          0
Current_Loan_Amount                  0
Term                                 0
Credit_Score                     61676
Years_in_current_job             11476
Home_Ownership                       0
Annual_Income                    61676
Purpose                              0
Monthly_Debt                         0
Years_of_Credit_History              0
Months since last delinquent    140383
Number_of_Open_Accounts              0
Number_of_Credit_Problems            0
Current_Credit_Balance               0
Maximum_Open_Credit                  0
Bankruptcies                       529
Tax_Liens                           23
dtype: int64

In [10]:
del df["Months since last delinquent"]

In [11]:
df["Bankruptcies"].mean()                           # %89 of Bankruptcies value is 0

0.11031564991908911

In [12]:
df["Bankruptcies"] = df["Bankruptcies"].fillna(0)               # Because of this we fill null 529 value with 0

In [13]:
df["Bankruptcies"].mean()

0.11008856582510973

In [14]:
df

,Loan ID,Customer ID,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Years_in_current_job,Home_Ownership,Annual_Income,Purpose,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,12,0,17391,37081,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,Fully Paid,3911,Short Term,NaN,2 years,Rent,NaN,Debt Consolidation,"$1,706.58",19.9,16,0,43992,44080,0.0,0.0
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,Fully Paid,5078,Short Term,737.0,10+ years,Own Home,77186.0,Debt Consolidation,"$1,376.47",19.1,9,0,1717,9758,0.0,0.0
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,7460.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,8,0,3315,20090,0.0,0.0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,Charged Off,12116,Short Term,746.0,9 years,Home Mortgage,52504.0,Debt Consolidation,$297.96,15.1,8,0,3315,20090,0.0,0.0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,Fully Paid,27902,Long Term,678.0,10+ years,Home Mortgage,117480.0,Debt Consolidation,"$2,525.82",18.0,10,0,28317,62371,0.0,0.0

In [15]:
df["Tax_Liens"].mode()

0    0.0
Name: Tax_Liens, dtype: float64

In [16]:
df["Tax_Liens"] = df["Tax_Liens"].fillna(0)

In [17]:
df["Years"] = df["Years_in_current_job"].str.extract(r"(\d+)")

In [18]:
df.head()

,Loan ID,Customer ID,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Years_in_current_job,Home_Ownership,Annual_Income,Purpose,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Years
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,10,0,6760,16056,0.0,0.0,10
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,17,0,6262,19149,0.0,0.0,4
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,5,0,20967,28335,0.0,0.0,10
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,9,0,22529,43915,0.0,0.0,10
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,12,0,17391,37081,0.0,0.0,4

In [19]:
df["Monthly_Debt"] = df["Monthly_Debt"].str.replace(',','')        # Deleting ","

In [20]:
df["Monthly_Debt"] = df["Monthly_Debt"].str.extract(r'(\d+.\d+)').astype('float')    # Deleting "$"

In [21]:
df.head()

,Loan ID,Customer ID,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Years_in_current_job,Home_Ownership,Annual_Income,Purpose,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Years
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,10,0,6760,16056,0.0,0.0,10
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,1106.04,26.3,17,0,6262,19149,0.0,0.0,4
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,5,0,20967,28335,0.0,0.0,10
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,751.92,26.2,9,0,22529,43915,0.0,0.0,10
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,355.18,11.5,12,0,17391,37081,0.0,0.0,4

In [22]:
df["Years"].median()

6.0

In [23]:
df["Years"] = df["Years"].fillna(df["Years"].median())

In [24]:
df.isnull().sum()

Loan ID                          0
Customer ID                      0
Loan_Status                      0
Current_Loan_Amount              0
Term                             0
Credit_Score                 61676
Years_in_current_job         11476
Home_Ownership                   0
Annual_Income                61676
Purpose                          0
Monthly_Debt                     0
Years_of_Credit_History          0
Number_of_Open_Accounts          0
Number_of_Credit_Problems        0
Current_Credit_Balance           0
Maximum_Open_Credit              0
Bankruptcies                     0
Tax_Liens                        0
Years                            0
dtype: int64

In [25]:
df["Years"] = df["Years"].astype("int64")

In [26]:
del df["Years_in_current_job"]

In [27]:
df["Loan_Status"].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [28]:
df["Loan_Status"] = df["Loan_Status"].replace(["Fully Paid","Charged Off"], [0,1])

In [29]:
df

,Loan ID,Customer ID,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Home_Ownership,Annual_Income,Purpose,Monthly_Debt,Years_of_Credit_History,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Years
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,0,11520,Short Term,741.0,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,10,0,6760,16056,0.0,0.0,10
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,0,3441,Short Term,734.0,Home Mortgage,42269.0,other,1106.04,26.3,17,0,6262,19149,0.0,0.0,4
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,0,21029,Short Term,747.0,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,5,0,20967,28335,0.0,0.0,10
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,0,18743,Short Term,747.0,Own Home,38072.0,Debt Consolidation,751.92,26.2,9,0,22529,43915,0.0,0.0,10
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,0,11731,Short Term,746.0,Rent,50025.0,Debt Consolidation,355.18,11.5,12,0,17391,37081,0.0,0.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256979,fffef5b7-be99-4666-ac70-2a397d2ee435,7211a8e3-cba4-4132-b939-222eed8a662c,0,3911,Short Term,NaN,Rent,NaN,Debt Consolidation,1706.58,19.9,16,0,43992,44080,0.0,0.0,2
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,0,5078,Short Term,737.0,Own Home,77186.0,Debt Consolidation,1376.47,19.1,9,0,1717,9758,0.0,0.0,10
256981,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,1,12116,Short Term,7460.0,Home Mortgage,52504.0,Debt Consolidation,297.96,15.1,8,0,3315,20090,0.0,0.0,9
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,1,12116,Short Term,746.0,Home Mortgage,52504.0,Debt Consolidation,297.96,15.1,8,0,3315,20090,0.0,0.0,9
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,0,27902,Long Term,678.0,Home Mortgage,117480.0,Debt Consolidation,2525.82,18.0,10,0,28317,62371,0.0,0.0,10

In [30]:
df["Number_of_Credit_Problems"].unique()

array([ 0,  1,  2,  5,  3,  4,  6,  7,  9, 10,  8, 11], dtype=int64)

In [31]:
df["Home_Ownership"].unique()

array(['Home Mortgage', 'Own Home', 'Rent', 'HaveMortgage'], dtype=object)

In [32]:
abs(df.corr()["Loan_Status"]).sort_values(ascending = False)

Loan_Status                  1.000000
Credit_Score                 0.440307
Current_Loan_Amount          0.269804
Annual_Income                0.070328
Years_of_Credit_History      0.035548
Number_of_Open_Accounts      0.020787
Monthly_Debt                 0.016609
Tax_Liens                    0.012590
Number_of_Credit_Problems    0.010179
Current_Credit_Balance       0.008838
Years                        0.004146
Bankruptcies                 0.001107
Name: Loan_Status, dtype: float64

In [33]:
#df["New_Credit_Score"] = -df["Credit_Score"]
df["New_Current_Loan_Amount"] = -df["Current_Loan_Amount"]
df["New_Monthly_Debt"] = -df["Monthly_Debt"]
df["New_Number_of_Open_Accounts"] = -df["Number_of_Open_Accounts"]                    # Correlation gave - value because of this I get inverse of this. Thus correlation turn pozitive.

In [34]:
#del df["Credit_Score"]
del df["Current_Loan_Amount"]
del df["Monthly_Debt"]
del df["Number_of_Open_Accounts"]

In [35]:
outliers = df.quantile(0.99)
df = df[(df.Credit_Score < outliers["Credit_Score"])]
df = df[(df.New_Current_Loan_Amount < outliers["New_Current_Loan_Amount"])]
df = df[(df.Annual_Income < outliers["Annual_Income"])]
df = df[(df.Years_of_Credit_History < outliers["Years_of_Credit_History"])]
df = df[(df.New_Number_of_Open_Accounts < outliers["New_Number_of_Open_Accounts"])]
df = df[(df.New_Monthly_Debt < outliers["New_Monthly_Debt"])]
df = df[(df.Tax_Liens < outliers["Tax_Liens"])]

In [36]:
df["Credit_Score"].mean()

1184.0324909345732

In [37]:
df["Credit_Score"] = df["Credit_Score"].fillna(df["Credit_Score"].mean())

In [38]:
df["Annual_Income"].mean()

69480.96013436854

In [39]:
df["Annual_Income"] = df["Annual_Income"].fillna(df["Annual_Income"].mean())

In [40]:
df.isnull().sum()

Loan ID                        0
Customer ID                    0
Loan_Status                    0
Term                           0
Credit_Score                   0
Home_Ownership                 0
Annual_Income                  0
Purpose                        0
Years_of_Credit_History        0
Number_of_Credit_Problems      0
Current_Credit_Balance         0
Maximum_Open_Credit            0
Bankruptcies                   0
Tax_Liens                      0
Years                          0
New_Current_Loan_Amount        0
New_Monthly_Debt               0
New_Number_of_Open_Accounts    0
dtype: int64

In [41]:
df

,Loan ID,Customer ID,Loan_Status,Term,Credit_Score,Home_Ownership,Annual_Income,Purpose,Years_of_Credit_History,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Years,New_Current_Loan_Amount,New_Monthly_Debt,New_Number_of_Open_Accounts
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,0,Short Term,741.0,Home Mortgage,33694.0,Debt Consolidation,12.3,0,6760,16056,0.0,0.0,10,-11520,-584.03,-10
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,0,Short Term,734.0,Home Mortgage,42269.0,other,26.3,0,6262,19149,0.0,0.0,4,-3441,-1106.04,-17
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,0,Short Term,747.0,Home Mortgage,90126.0,Debt Consolidation,28.8,0,20967,28335,0.0,0.0,10,-21029,-1321.85,-5
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,0,Short Term,747.0,Own Home,38072.0,Debt Consolidation,26.2,0,22529,43915,0.0,0.0,10,-18743,-751.92,-9
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,0,Short Term,746.0,Rent,50025.0,Debt Consolidation,11.5,0,17391,37081,0.0,0.0,4,-11731,-355.18,-12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256977,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,1,Short Term,7170.0,Home Mortgage,39844.0,Debt Consolidation,11.7,1,4176,4783,1.0,0.0,10,-11953,-982.82,-9
256978,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,1,Short Term,717.0,Home Mortgage,39844.0,Debt Consolidation,11.7,1,4176,4783,1.0,0.0,10,-11953,-982.82,-9
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,0,Short Term,737.0,Own Home,77186.0,Debt Consolidation,19.1,0,1717,9758,0.0,0.0,10,-5078,-1376.47,-9
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,1,Short Term,746.0,Home Mortgage,52504.0,Debt Consolidation,15.1,0,3315,20090,0.0,0.0,9,-12116,-297.96,-8
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,0,Long Term,678.0,Home Mortgage,117480.0,Debt Consolidation,18.0,0,28317,62371,0.0,0.0,10,-27902,-2525.82,-10

In [42]:
df.corr()

,Loan_Status,Credit_Score,Annual_Income,Years_of_Credit_History,Number_of_Credit_Problems,Current_Credit_Balance,Bankruptcies,Tax_Liens,Years,New_Current_Loan_Amount,New_Monthly_Debt,New_Number_of_Open_Accounts
Loan_Status,1.000000,0.416714,-0.103255,-0.043718,0.005569,-0.006071,0.001005,NaN,-0.003929,0.315906,-0.024481,-0.023956
Credit_Score,0.416714,1.000000,-0.046337,-0.022530,0.003124,-0.006618,0.001865,NaN,0.000969,0.131700,-0.010371,-0.008535
Annual_Income,-0.103255,-0.046337,1.000000,0.215547,-0.058359,0.371348,-0.060790,NaN,0.101070,-0.030214,-0.598698,-0.197068
Years_of_Credit_History,-0.043718,-0.022530,0.215547,1.000000,0.063142,0.228262,0.064165,NaN,0.225419,-0.019226,-0.193016,-0.129062
Number_of_Credit_Problems,0.005569,0.003124,-0.058359,0.063142,1.000000,-0.140202,0.904386,NaN,0.046506,-0.000945,0.080760,0.022258
Current_Credit_Balance,-0.006071,-0.006618,0.371348,0.228262,-0.140202,1.000000,-0.137405,NaN,0.101136,-0.002239,-0.468405,-0.236385
Bankruptcies,0.001005,0.001865,-0.060790,0.064165,0.904386,-0.137405,1.000000,NaN,0.044484,-0.002341,0.079723,0.024647
Tax_Liens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years,-0.003929,0.000969,0.101070,0.225419,0.046506,0.101136,0.044484,NaN,1.000000,-0.005131,-0.122348,-0.036109
New_Current_Loan_Amount,0.315906,0.131700,-0.030214,-0.019226,-0.000945,-0.002239,-0.002341,NaN,-0.005131,1.000000,-0.005694,-0.005006
New_Monthly_Debt,-0.024481,-0.010371,-0.598698,-0.193016,0.080760,-0.468405,0.079723,NaN,-0.122348,-0.005694,1.000000,0.398268
New_Number_of_Open_Accounts,-0.023956,-0.008535,-0.197068,-0.129062,0.022258,-0.236385,0.024647,NaN,-0.036109,-0.005006,0.398268,1.000000

In [43]:
abs(df.corr()["Loan_Status"]).sort_values(ascending = False)

Loan_Status                    1.000000
Credit_Score                   0.416714
New_Current_Loan_Amount        0.315906
Annual_Income                  0.103255
Years_of_Credit_History        0.043718
New_Monthly_Debt               0.024481
New_Number_of_Open_Accounts    0.023956
Current_Credit_Balance         0.006071
Number_of_Credit_Problems      0.005569
Years                          0.003929
Bankruptcies                   0.001005
Tax_Liens                           NaN
Name: Loan_Status, dtype: float64

In [44]:
df.corr()

,Loan_Status,Credit_Score,Annual_Income,Years_of_Credit_History,Number_of_Credit_Problems,Current_Credit_Balance,Bankruptcies,Tax_Liens,Years,New_Current_Loan_Amount,New_Monthly_Debt,New_Number_of_Open_Accounts
Loan_Status,1.000000,0.416714,-0.103255,-0.043718,0.005569,-0.006071,0.001005,NaN,-0.003929,0.315906,-0.024481,-0.023956
Credit_Score,0.416714,1.000000,-0.046337,-0.022530,0.003124,-0.006618,0.001865,NaN,0.000969,0.131700,-0.010371,-0.008535
Annual_Income,-0.103255,-0.046337,1.000000,0.215547,-0.058359,0.371348,-0.060790,NaN,0.101070,-0.030214,-0.598698,-0.197068
Years_of_Credit_History,-0.043718,-0.022530,0.215547,1.000000,0.063142,0.228262,0.064165,NaN,0.225419,-0.019226,-0.193016,-0.129062
Number_of_Credit_Problems,0.005569,0.003124,-0.058359,0.063142,1.000000,-0.140202,0.904386,NaN,0.046506,-0.000945,0.080760,0.022258
Current_Credit_Balance,-0.006071,-0.006618,0.371348,0.228262,-0.140202,1.000000,-0.137405,NaN,0.101136,-0.002239,-0.468405,-0.236385
Bankruptcies,0.001005,0.001865,-0.060790,0.064165,0.904386,-0.137405,1.000000,NaN,0.044484,-0.002341,0.079723,0.024647
Tax_Liens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years,-0.003929,0.000969,0.101070,0.225419,0.046506,0.101136,0.044484,NaN,1.000000,-0.005131,-0.122348,-0.036109
New_Current_Loan_Amount,0.315906,0.131700,-0.030214,-0.019226,-0.000945,-0.002239,-0.002341,NaN,-0.005131,1.000000,-0.005694,-0.005006
New_Monthly_Debt,-0.024481,-0.010371,-0.598698,-0.193016,0.080760,-0.468405,0.079723,NaN,-0.122348,-0.005694,1.000000,0.398268
New_Number_of_Open_Accounts,-0.023956,-0.008535,-0.197068,-0.129062,0.022258,-0.236385,0.024647,NaN,-0.036109,-0.005006,0.398268,1.000000

In [45]:
df.head()

,Loan ID,Customer ID,Loan_Status,Term,Credit_Score,Home_Ownership,Annual_Income,Purpose,Years_of_Credit_History,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Years,New_Current_Loan_Amount,New_Monthly_Debt,New_Number_of_Open_Accounts
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,0,Short Term,741.0,Home Mortgage,33694.0,Debt Consolidation,12.3,0,6760,16056,0.0,0.0,10,-11520,-584.03,-10
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,0,Short Term,734.0,Home Mortgage,42269.0,other,26.3,0,6262,19149,0.0,0.0,4,-3441,-1106.04,-17
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,0,Short Term,747.0,Home Mortgage,90126.0,Debt Consolidation,28.8,0,20967,28335,0.0,0.0,10,-21029,-1321.85,-5
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,0,Short Term,747.0,Own Home,38072.0,Debt Consolidation,26.2,0,22529,43915,0.0,0.0,10,-18743,-751.92,-9
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,0,Short Term,746.0,Rent,50025.0,Debt Consolidation,11.5,0,17391,37081,0.0,0.0,4,-11731,-355.18,-12

In [46]:
df.corr()

,Loan_Status,Credit_Score,Annual_Income,Years_of_Credit_History,Number_of_Credit_Problems,Current_Credit_Balance,Bankruptcies,Tax_Liens,Years,New_Current_Loan_Amount,New_Monthly_Debt,New_Number_of_Open_Accounts
Loan_Status,1.000000,0.416714,-0.103255,-0.043718,0.005569,-0.006071,0.001005,NaN,-0.003929,0.315906,-0.024481,-0.023956
Credit_Score,0.416714,1.000000,-0.046337,-0.022530,0.003124,-0.006618,0.001865,NaN,0.000969,0.131700,-0.010371,-0.008535
Annual_Income,-0.103255,-0.046337,1.000000,0.215547,-0.058359,0.371348,-0.060790,NaN,0.101070,-0.030214,-0.598698,-0.197068
Years_of_Credit_History,-0.043718,-0.022530,0.215547,1.000000,0.063142,0.228262,0.064165,NaN,0.225419,-0.019226,-0.193016,-0.129062
Number_of_Credit_Problems,0.005569,0.003124,-0.058359,0.063142,1.000000,-0.140202,0.904386,NaN,0.046506,-0.000945,0.080760,0.022258
Current_Credit_Balance,-0.006071,-0.006618,0.371348,0.228262,-0.140202,1.000000,-0.137405,NaN,0.101136,-0.002239,-0.468405,-0.236385
Bankruptcies,0.001005,0.001865,-0.060790,0.064165,0.904386,-0.137405,1.000000,NaN,0.044484,-0.002341,0.079723,0.024647
Tax_Liens,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years,-0.003929,0.000969,0.101070,0.225419,0.046506,0.101136,0.044484,NaN,1.000000,-0.005131,-0.122348,-0.036109
New_Current_Loan_Amount,0.315906,0.131700,-0.030214,-0.019226,-0.000945,-0.002239,-0.002341,NaN,-0.005131,1.000000,-0.005694,-0.005006
New_Monthly_Debt,-0.024481,-0.010371,-0.598698,-0.193016,0.080760,-0.468405,0.079723,NaN,-0.122348,-0.005694,1.000000,0.398268
New_Number_of_Open_Accounts,-0.023956,-0.008535,-0.197068,-0.129062,0.022258,-0.236385,0.024647,NaN,-0.036109,-0.005006,0.398268,1.000000

In [47]:
df.corr()["Loan_Status"].sort_values(ascending = False)

Loan_Status                    1.000000
Credit_Score                   0.416714
New_Current_Loan_Amount        0.315906
Number_of_Credit_Problems      0.005569
Bankruptcies                   0.001005
Years                         -0.003929
Current_Credit_Balance        -0.006071
New_Number_of_Open_Accounts   -0.023956
New_Monthly_Debt              -0.024481
Years_of_Credit_History       -0.043718
Annual_Income                 -0.103255
Tax_Liens                           NaN
Name: Loan_Status, dtype: float64

In [48]:
df["Credit_Problem"] = np.where(df["Number_of_Credit_Problems"]>0, 1, 0)   # If credit problem is bigger than 0 this equal to 1 and if problem is 0 equal 0.

In [49]:
del df["Number_of_Credit_Problems"]

In [50]:
df

,Loan ID,Customer ID,Loan_Status,Term,Credit_Score,Home_Ownership,Annual_Income,Purpose,Years_of_Credit_History,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens,Years,New_Current_Loan_Amount,New_Monthly_Debt,New_Number_of_Open_Accounts,Credit_Problem
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,0,Short Term,741.0,Home Mortgage,33694.0,Debt Consolidation,12.3,6760,16056,0.0,0.0,10,-11520,-584.03,-10,0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,0,Short Term,734.0,Home Mortgage,42269.0,other,26.3,6262,19149,0.0,0.0,4,-3441,-1106.04,-17,0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,0,Short Term,747.0,Home Mortgage,90126.0,Debt Consolidation,28.8,20967,28335,0.0,0.0,10,-21029,-1321.85,-5,0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,0,Short Term,747.0,Own Home,38072.0,Debt Consolidation,26.2,22529,43915,0.0,0.0,10,-18743,-751.92,-9,0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,0,Short Term,746.0,Rent,50025.0,Debt Consolidation,11.5,17391,37081,0.0,0.0,4,-11731,-355.18,-12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256977,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,1,Short Term,7170.0,Home Mortgage,39844.0,Debt Consolidation,11.7,4176,4783,1.0,0.0,10,-11953,-982.82,-9,1
256978,fffe84cf-67a1-468d-ab7b-cf06a9c4ee14,460c6cf5-4d12-4e3c-a3d0-46dd67c78cce,1,Short Term,717.0,Home Mortgage,39844.0,Debt Consolidation,11.7,4176,4783,1.0,0.0,10,-11953,-982.82,-9,1
256980,ffffca93-aa8c-4123-b8ff-7852f6df889a,616fef0c-8f09-4327-9b5c-48fcfaa52934,0,Short Term,737.0,Own Home,77186.0,Debt Consolidation,19.1,1717,9758,0.0,0.0,10,-5078,-1376.47,-9,0
256982,ffffcb2e-e48e-4d2c-a0d6-ed6bce5bfdbe,971a6682-183b-4a52-8bce-1d3429ade295,1,Short Term,746.0,Home Mortgage,52504.0,Debt Consolidation,15.1,3315,20090,0.0,0.0,9,-12116,-297.96,-8,0
256983,ffffe32e-ed17-459f-9cfd-7b9ee7972933,97281336-1e45-41d2-acb2-263ce56a590e,0,Long Term,678.0,Home Mortgage,117480.0,Debt Consolidation,18.0,28317,62371,0.0,0.0,10,-27902,-2525.82,-10,0

In [51]:
df["Home_Ownership"].unique()

array(['Home Mortgage', 'Own Home', 'Rent', 'HaveMortgage'], dtype=object)

In [52]:
df["Credit_Score"] = df["Credit_Score"]**2                    # I take squared of Credit Score. Thus we increase the impact of Credit Score(The impact of Credit Score for Price is increased). Why I did: Because most corralated value is Credit Score
df["Annual_Income"] = df["Annual_Income"]**2                  # I take squared of Annual Income. (The reason is same)
df["New_Current_Loan_Amount"] = df["New_Current_Loan_Amount"]**2     # I take squared of Lan Amount. (The reason is same)

In [53]:
df["New_Current_Loan_Amount"] = df["New_Current_Loan_Amount"].astype("category")          # I changed the type of new current loan amount as category.

In [54]:
df = df.sample(5000)             # We get 5000 random sample from data frame. Because data is big(training takes a lot of time).

In [55]:
x = df[["Annual_Income", "Credit_Score","New_Current_Loan_Amount"]]

In [56]:
x = pd.get_dummies(x, drop_first = True )

In [57]:
y = df["Loan_Status"]

In [58]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
g = GaussianNB()
b = BernoulliNB()

In [59]:
g.fit(x,y)

GaussianNB()

In [60]:
b.fit(x,y)

BernoulliNB()

In [61]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report

In [62]:
tahmin1 = g.predict(x)        
tahmin2 = b.predict(x)

In [63]:
accuracy_score(tahmin1,y)

0.7598

In [64]:
accuracy_score(tahmin2,y)

0.6822

In [65]:
precision_score(tahmin2,y)

0.0

In [66]:
confusion_matrix(tahmin2,y)

array([[3411, 1589],
       [   0,    0]], dtype=int64)

In [67]:
confusion_matrix(tahmin1,y)

array([[3411, 1201],
       [   0,  388]], dtype=int64)

In [68]:
print(classification_report(tahmin1,y))

              precision    recall  f1-score   support

           0       1.00      0.74      0.85      4612
           1       0.24      1.00      0.39       388

    accuracy                           0.76      5000
   macro avg       0.62      0.87      0.62      5000
weighted avg       0.94      0.76      0.81      5000

In [69]:
print(classification_report(tahmin2,y))

              precision    recall  f1-score   support

           0       1.00      0.68      0.81      5000
           1       0.00      0.00      0.00         0

    accuracy                           0.68      5000
   macro avg       0.50      0.34      0.41      5000
weighted avg       1.00      0.68      0.81      5000

C:\Users\User\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\User\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\User\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [70]:
from sklearn.neighbors import KNeighborsClassifier           # neighbors method. It gets nearest neighbours features and get prediction 
k =  KNeighborsClassifier()

In [71]:
k.fit(x,y)

KNeighborsClassifier()

In [72]:
tahmin3 = k.predict(x)

In [73]:
print(classification_report(tahmin3,y))

              precision    recall  f1-score   support

           0       0.94      0.78      0.86      4119
           1       0.43      0.78      0.56       881

    accuracy                           0.78      5000
   macro avg       0.69      0.78      0.71      5000
weighted avg       0.85      0.78      0.80      5000

In [74]:
confusion_matrix(tahmin3,y)

array([[3221,  898],
       [ 190,  691]], dtype=int64)

In [75]:
from sklearn.linear_model import LogisticRegression        # LogisticRegression technique
l = LogisticRegression()

In [76]:
l.fit(x,y)

LogisticRegression()

In [77]:
tahmin4 = l.predict(x)

In [78]:
print(classification_report(tahmin4,y))

              precision    recall  f1-score   support

           0       0.98      0.74      0.85      4522
           1       0.26      0.88      0.41       478

    accuracy                           0.75      5000
   macro avg       0.62      0.81      0.63      5000
weighted avg       0.91      0.75      0.80      5000

In [79]:
confusion_matrix(tahmin4,y)

array([[3353, 1169],
       [  58,  420]], dtype=int64)

In [80]:
from sklearn.tree import DecisionTreeClassifier
d = DecisionTreeClassifier()

In [81]:
d.fit(x,y)

DecisionTreeClassifier()

In [82]:
tahmin5 = d.predict(x)

In [83]:
confusion_matrix(tahmin5,y)

array([[3411,    0],
       [   0, 1589]], dtype=int64)

In [84]:
print(classification_report(tahmin5,y))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3411
           1       1.00      1.00      1.00      1589

    accuracy                           1.00      5000
   macro avg       1.00      1.00      1.00      5000
weighted avg       1.00      1.00      1.00      5000

In [85]:
from sklearn.ensemble import RandomForestClassifier
r = RandomForestClassifier()

In [86]:
r.fit(x,y)

RandomForestClassifier()

In [87]:
tahmin6 = r.predict(x)

In [88]:
confusion_matrix(tahmin6,y)

array([[3411,    0],
       [   0, 1589]], dtype=int64)

In [89]:
print(classification_report(tahmin6,y))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      3411
           1       1.00      1.00      1.00      1589

    accuracy                           1.00      5000
   macro avg       1.00      1.00      1.00      5000
weighted avg       1.00      1.00      1.00      5000

In [90]:
from sklearn.ensemble import GradientBoostingClassifier
gr = GradientBoostingClassifier()

In [91]:
gr.fit(x,y)

GradientBoostingClassifier()

In [92]:
tahmin7 = gr.predict(x)

In [93]:
confusion_matrix(tahmin7,y)

array([[3274,  968],
       [ 137,  621]], dtype=int64)

In [94]:
print(classification_report(tahmin7,y))

              precision    recall  f1-score   support

           0       0.96      0.77      0.86      4242
           1       0.39      0.82      0.53       758

    accuracy                           0.78      5000
   macro avg       0.68      0.80      0.69      5000
weighted avg       0.87      0.78      0.81      5000